
@font-face {
    font-family: "";
    src: url("../fonts/.woff") format("woff"), url("../fonts/.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: wrap;
}